name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  test-project:
    name: Test Project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.2

      - name: Configure Project
        run: cmake -G 'Unix Makefiles' --preset development

      - name: Test Project
        run: ctest --preset development
